#root {
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    display: block;
}

#mainView {
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    column-gap: 10px;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Source Sans Pro;
}

#editor-container {
    display: flex;
    height: 100%;
}
