.cascadedMenuMainDiv::-webkit-scrollbar {
    background: #ccc;
    margin: 5px;
    width: 8px;
}

.cascadedMenuMainDiv::-webkit-scrollbar-track {
    background: #ebebeb;
}

.cascadedMenuMainDiv::-webkit-scrollbar-thumb {
    border: none;
    background-color: #d1d1d1;
    border-radius: 0px;
}

.cascadedMenuMainDiv {
    display: none;

    min-width: 375px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);

    border-radius: 3px;
    padding-bottom: 10px;

    overflow-y: auto;
}

.cascadedMenuItem {
    cursor: pointer;
}

.cascadedMenuMainDiv .cascadedMenuItem :not(:hover) {
    background-color: white;
}

.cascadedMenuContent {
    padding-left: 10px;
}

.cascadedMenuOptionTooltip {
    display: inline;
    align-self: center;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.7);
}

.hoverable:hover .cascadedMenuMainDiv {
    display: block;
}

.cascaded-menu-header {
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
    height: 27px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c5d2d9;
}

.cascaded-menu-header h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 8px 10px 8px 10px;
}

.cascaded-menu-header .identifier {
    font-weight: bold;
    background-color: #99a7ad;
    padding: 0px 8px 0px 8px;
    border-radius: 3px;
    color: black;
}
