.hole {
    position: absolute;
    pointer-events: none;

    box-shadow: 0px 0px 0px 2px #00000029 inset;
    transition-property: background;
    transition-duration: 0.2s;

    border-radius: 5px;
}

.editableHole {
    box-shadow: 0px 0px 0px 2px #398dfab6 inset;
}

.inScopeHole {
    background-color: rgba(58, 223, 58, 0.3);
}
