@import url("editor.css");
@import url("toolbox.css");
@import url("cursor.css");
@import url("hole.css");
@import url("notification.css");
@import url("suggestion-menu.css");
@import url("construct-doc.css");
@import url("draft-mode.css");
@import url("cascaded-menu.css");
@import url("console.css");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

html {
    height: 100%;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Source Sans Pro;
}

#editor-container {
    display: flex;
    height: 100%;
}

.button {
    color: #0d0c22;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 10px;
    font-size: 14px;
    padding: 10px 14px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.button:active {
    box-shadow: none;
    background-color: #f3f5fa !important;
}

.button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.button.draftModeButton {
    background-color: rgb(255, 255, 230);
}
