.suggestionMenuParent{
    display: flex;
    flex-direction: column;
    position: absolute;
    max-height: 30%;
    width: fit-content;
    max-width: 50%;
    min-width: 2%;

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.suggestionMenuParent::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.suggestionOptionParent{
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    background-color: rgba(215, 215, 215, 0.7);
    cursor: pointer;
}

:hover.suggestionOptionParent{
    background-color: rgba(93, 149, 240, 0.7);
}

.suggestionOptionText{
    color: black;
    font-size: 9pt;
}

.selectedSuggestionOptionParent{
    background-color: rgba(93, 149, 240, 0.7);
}