#toolbox-container {
    display: flex;
    flex-direction: column;

    box-shadow: 20px -50px 50px -15px #ccc;

    min-width: 350px;

    font-family: Consolas, "Courier New", monospace;
}

#editor-toolbox {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;

    border-left: solid 1px #ddd;

    height: calc(100% - 25px);
}

#editor-toolbox .button {
    font-size: 13px;
    padding: 7px 8px;

    white-space: nowrap;
    box-shadow: 0px 1px 5px 2px #ddd;

    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    -ms-transition: 0.15s ease-in-out;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#editor-toolbox .button:hover {
    box-shadow: 0px 1px 5px 2px #ccc;
}

hole1 {
    min-width: 21px;
    height: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #0000005e inset;
    margin: 0px 3px;
    display: inline-block;
}

hole2 {
    margin: 0px 3px;
    display: inline-block;
    box-shadow: none;
    border: dashed 1px #c7c7c7;
    min-width: 12px;
    height: 16px;
}

#user-variables {
    height: calc(100% - 25px);
    overflow-y: auto;
}

#vars-button-grid .button {
    font-size: 16px;
    padding: 6px 10px;
    white-space: nowrap;
    box-shadow: 0px 1px 5px 2px #ddd;
    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
    font-weight: bold;
}

#vars-button-grid .button:hover {
    box-shadow: 0px 1px 5px 2px #ccc;
}

.var-button-container {
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: left;
}

#editor-toolbox .group {
    justify-items: start;
    margin: 0 0 20px 10px;
}

#editor-toolbox .group > p {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    font-weight: bold;
    font-size: 20px;

    margin: 5px 0 5px 0;
}

#editor-toolbox::-webkit-scrollbar {
    background: #ccc;
    margin: 5px;
    width: 8px;
}

#editor-toolbox::-webkit-scrollbar-track {
    background: #ebebeb;
}

#editor-toolbox::-webkit-scrollbar-thumb {
    border: none;
    background-color: #b8ccd1;
    border-radius: 0px;
}

#user-variables::-webkit-scrollbar {
    background: #ccc;
    margin: 5px;
    width: 8px;
}

#user-variables::-webkit-scrollbar-track {
    background: #ebebeb;
}

#user-variables::-webkit-scrollbar-thumb {
    border: none;
    background-color: #b8ccd1;
    border-radius: 0px;
}

#toolbox-menu {
    float: left;
}

#toolbox-menu .menu-button {
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    color: #26265a;
    font-size: 16px;

    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    -ms-transition: 0.15s ease-in-out;
}

#toolbox-menu .menu-button:hover {
    background-color: #e0efff;
    font-weight: bold;
}

#static-toolbox {
    height: 70%;
}

#dynamic-toolbox {
    height: 30%;
}

.box-header {
    height: 25px;
    background-color: #69a;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-header h2 {
    display: block;
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

#vars-button-grid {
    margin: 10px 10px;
}

.learn-button {
    position: relative;
    border-radius: 5px;
    border: solid 1px #fff;
    padding: 0px 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #006a93;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    box-shadow: 0 0 6px 1px rgb(0 71 99);
    font-family: Consolas, "Courier New", monospace;
    height: 20px;
    cursor: pointer;
    background-color: #fff;

    transition: background-color 0.15s ease-in-out;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    -ms-transition: background-color 0.15s ease-in-out;
}

.tooltip-container {
    font-family: "Courier New", Courier, monospace;
    position: fixed;
    display: none;
    color: #fff;
    border-radius: 10px;
    width: 500px;
    overflow: hidden;
    background: rgb(0 162 225);
    box-shadow: 0 0px 30px 5px rgb(145 184 218);
    opacity: 0;

    transition: opacity 0.1s ease-in-out;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
}

.tooltip-container .tooltip-top {
    background-color: rgb(0 106 147);
    font-size: 14px;
}

.tooltip-container .tooltip-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tooltip-container .tooltip-header h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

.tooltip-container .tooltip-text {
    font-size: 14px;
    padding: 0 10px 10px;
    margin: 0;
}

.tooltip-container .error-text {
    padding: 5px 10px;
    color: #000;
    background-color: rgb(255 200 200);
    box-shadow: 0px 0px 10px 0px rgb(0 65 72);
}

.tooltip-container .warning-text {
    padding: 5px 10px;
    color: #000;
    background-color: rgb(255 255 205);
    box-shadow: 0px 0px 10px 0px rgb(0 65 72);
}

.tooltip-container .return-type-text {
    padding: 5px 10px;
    background-color: rgb(0 133 147);
    box-shadow: 0px 0px 10px 0px rgb(0 65 72);
}

.tooltip-container .return-type-text .return-type {
    padding: 0 5px;
    border-radius: 3px;
    background-color: #8d97a3;
    color: #000;
    font-weight: bold;
}

.tooltip-container .learn-button:hover {
    background-color: rgb(0 106 147);
    color: #fff;
}

.tooltip-container .use-cases-container {
    height: 325px;
    overflow-y: scroll;
}

.tooltip-container .use-cases-container::-webkit-scrollbar {
    background: #ccc;
    margin: 5px;
    width: 8px;
}

.tooltip-container .use-cases-container::-webkit-scrollbar-track {
    background: #ebebeb;
}

.tooltip-container .use-cases-container::-webkit-scrollbar-thumb {
    border: none;
    background-color: #b8ccd1;
    border-radius: 0px;
}

.tooltip-container .single-use-case-container {
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0px 6px 2px #0d638b;
}

.tooltip-container .single-use-case-container .use-case-title {
    background-color: #790093;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
}

.tooltip-container .single-use-case-container .use-case-title:hover {
    background-color: #550068;
}

.tooltip-container .slider-container {
    transition: max-height 0.3s ease-in-out;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    -ms-transition: max-height 0.3s ease-in-out;
}

.tooltip-container .slider-container .range-slider {
    display: inline-block;
    flex-grow: 1;
}

.tooltip-container .slider-container .slider-btn {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #029ad7;
    margin: 0 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.tooltip-container .slider-container .slider-image {
    width: 100%;
    display: block;
}

.tooltip-container .slider-container .labels-container {
    display: flex;
    font-size: 14px;
}

.tooltip-container .slider-container .slider-label {
    border: solid 2px #00719e;
    margin: 10px 0 10px 10px;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: #0a82b1;
    color: #ffffff;
}

.tooltip-container .slider-container .explanation-container {
    border: solid 2px #005c7f;
    margin: 10px 10px 9px;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: #006a93;
    color: #ffffff;
}

.tooltip-container .slider-container .buttons-container {
    display: flex;
    margin-top: 3px;
}

.statement-button {
    border-bottom: solid #fff0 3.5px;

    transition: border 0.15s ease-in-out;
    -webkit-transition: border 0.15s ease-in-out;
    -moz-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    -ms-transition: border 0.15s ease-in-out;
}

.statement-button:hover {
    border-bottom: solid #05c8ac 3.5px !important;
}

.expression-button {
    border: solid #fff0 3px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 25px !important;

    transition: border 0.15s ease-in-out;
    -webkit-transition: border 0.15s ease-in-out;
    -moz-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    -ms-transition: border 0.15s ease-in-out;
}

.expression-button:hover {
    border: solid #05c8ac 3px !important;
}

.modifier-button {
    border-left: solid #fff0 3.5px;

    transition: border 0.15s ease-in-out;
    -webkit-transition: border 0.15s ease-in-out;
    -moz-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    -ms-transition: border 0.15s ease-in-out;
}

.modifier-button:hover {
    border-left: solid #05c8ac 3.5px !important;
}

.var-type-text {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;

    align-self: center;
    font-size: 14px;
}
