#toolbox-container {
    display: flex;
    flex-direction: column;

    box-shadow: 8px 0px 50px 4px #ccc;

    min-width: 300px;
}

#dynamic-toolbox {
    display: none;
    min-width: fit-content;
    box-shadow: 0px 5px 20px 0px #ccc;
}

#editor-toolbox {
    padding: 20px;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
}

#editor-toolbox .button {
    font-family: Consolas, "Courier New", monospace;
    font-size: 13px;
    margin: 8px 0px;
    padding: 7px 8px;

    white-space: nowrap;

    box-shadow: 0px 1px 5px 2px #ddd;
    border: solid 1px #ccc;
}

hole {
    min-width: 18px;
    height: 18px;
    background: rgb(0 0 0 / 5%);
    border-radius: 2px;
    box-shadow: 0px 0px 0px 1px #0000005e inset;
    margin: 0px 8px;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d3d6;
    border-radius: 6px;
    border: 3px solid white;
}

#user-variables {
    display: block;
    padding: 0% 5% 5% 1%;
    padding: 20px;
}

#user-defined-vars-heading {
    display: block;
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

#vars-button-grid .button {
    font-weight: bold;
    padding: 7px 8px;
}

#vars-button-grid {
    font-family: Consolas, "Courier New", monospace;
}

.var-button-container {
    grid-template-columns: fit-content(50%) fit-content(50%);
    grid-template-rows: 100%;
    grid-auto-flow: row;
    column-gap: 3%;
    display: grid;
    margin-top: 8px;
}

.var-type-text {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;

    align-self: center;
    font-size: 14px;
}

#editor-toolbox .group {
    justify-items: start;
}

#editor-toolbox .group > p {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    font-weight: bold;
    font-size: 16px;

    margin: 10px 0 0 0;
}

#editor-toolbox .group:not(:last-child) {
    margin-bottom: 10px;
}

#editor-toolbox::-webkit-scrollbar {
    background: #ccc;
    margin: 5px;
    width: 8px;
}

#editor-toolbox::-webkit-scrollbar-track {
    background: #ebebeb;
}

#editor-toolbox::-webkit-scrollbar-thumb {
    border: none;
    background-color: #d1d1d1;
    border-radius: 0px;
}
