#toolbox-container {
    display: flex;
    flex-direction: column;

    box-shadow: 20px -50px 50px -15px #ccc;

    min-width: 400px;

    font-family: Consolas, "Courier New", monospace;
}

/* #dynamic-toolbox {
    display: none;
    min-width: fit-content;
    box-shadow: 0px 5px 20px 0px #ccc;
} */

#editor-toolbox {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;

    border-left: solid 1px #ddd;

    height: 100%;
}

#editor-toolbox .button {
    font-size: 13px;
    margin: 8px 0px;
    padding: 7px 8px;

    white-space: nowrap;

    box-shadow: 0px 1px 5px 2px #ddd;
    border: solid 1px #ccc;

    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    -ms-transition: 0.15s ease-in-out;
}

#editor-toolbox .button:hover {
    box-shadow: 0px 1px 5px 2px #ccc;
}

hole {
    min-width: 18px;
    height: 18px;
    background: rgb(0 0 0 / 5%);
    border-radius: 2px;
    box-shadow: 0px 0px 0px 1px #0000005e inset;
    margin: 0px 8px;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d3d6;
    border-radius: 6px;
    border: 3px solid white;
}

#user-variables {
    display: none;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #eaeaea;
    box-shadow: 0px 0px 10px 3px #ddd;

    transition: background-color 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    -ms-transition: background-color 1s ease-in-out;
}

#user-defined-vars-heading {
    display: block;
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

#vars-button-grid .button {
    font-weight: bold;
    padding: 7px 8px;
}

.var-button-container {
    grid-template-columns: fit-content(50%) fit-content(50%);
    grid-template-rows: 100%;
    grid-auto-flow: row;
    column-gap: 3%;
    display: grid;
    margin-top: 8px;
}

.var-type-text {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;

    align-self: center;
    font-size: 14px;
}

#editor-toolbox .group {
    justify-items: start;
    margin: 0 0 20px 10px;
}

#editor-toolbox .group > p {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    font-weight: bold;
    font-size: 20px;

    margin: 15px 0 10px 0;
}

#editor-toolbox::-webkit-scrollbar {
    background: #ccc;
    margin: 5px;
    width: 8px;
}

#editor-toolbox::-webkit-scrollbar-track {
    background: #ebebeb;
}

#editor-toolbox::-webkit-scrollbar-thumb {
    border: none;
    background-color: #d1d1d1;
    border-radius: 0px;
}

#toolbox-menu {
    float: left;
}

#toolbox-menu .menu-button {
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    color: #26265a;
    font-size: 16px;

    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    -ms-transition: 0.15s ease-in-out;
}

#toolbox-menu .menu-button:hover {
    background-color: #e0efff;
    font-weight: bold;
}

#static-toolbox {
    height: 100%;
}
