#editor {
	width: 600px;
	height: 500px;

	float: left;
	margin-left: 15px;

	border: 1px solid #ccc;
}

#editor-toolbox {
	width: 150px;
	height: 500px;
	overflow-y: scroll;
	float: left;
}

.toolbox-btn {	
	display: block;
	width: fit-content;

	padding: 5px;
	margin-bottom: 10px;

	border-radius: 5px;
	border: 1px solid #ccc;

	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	cursor: pointer;

	background-color: #fff;

	transition: background-color 0.5s;
}

.toolbox-btn:hover {
	background-color: #ccc;
}
